//website colors
$color-grey-dark: #616161;
$background-color: #f1f1f1;

//normal colors
$color-black: #000;
$color-white: #fff;
$color-grey: #ccc;

// grid variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//breakpoints

$bp-largest: 56.25em; //900px
$bp-large: 43.75em; //700px
